In [1]:
# Dependencies
import json
import pandas as pd
import numpy as np
from datetime import datetime
youtube_df = pd.read_csv('./Data/USvideos_c1.csv')

In [2]:
# Convert 'comments_disabled' and 'ratings_disabled' to 'int' to create count
youtube_df.comments_disabled = youtube_df.comments_disabled.astype('int')
youtube_df.ratings_disabled = youtube_df.ratings_disabled.astype('int')

In [3]:
# Create a videos per category count
videos_per_category = youtube_df.category_type.value_counts()

# Count views per category 
views_per_category = youtube_df.groupby('category_type').sum()['views']

# Count likes per category 
likes_per_category = youtube_df.groupby('category_type').sum()['likes']

# Count dislikes per category 
dislikes_per_category = youtube_df.groupby('category_type').sum()['dislikes']

# Count comments per category 
comments_per_category = youtube_df.groupby('category_type').sum()['comment_count']

In [5]:
# Create a DataFrame
Channel_stats = pd.DataFrame(
          {"Total Uploads": videos_per_category, 
          "Total Views": views_per_category, 
          "Total Likes": likes_per_category,
          "Total Dislikes": dislikes_per_category, 
          "Total Comments": comments_per_category})

Channel_stats.index.name='Category'
Channel_stats

,Total Uploads,Total Views,Total Likes,Total Dislikes,Total Comments
Category,,,,,
Autos & Vehicles,384,520690717,4245656,243010,784447
Comedy,3457,5117426208,216346746,7230391,22545582
Education,1656,1180629990,49257772,1351972,5442242
Entertainment,9964,20604388195,530516491,42987663,73566498
Film & Animation,2345,7284156721,165997476,6075148,17887060
Gaming,817,2141218625,69038284,9184466,14740713
Howto & Style,4146,4078545064,162880075,5473899,23149550
Music,6472,40132892190,1416838584,51179008,125296396
News & Politics,2487,1473765704,18151033,4180049,6039433
Nonprofits & Activism,57,168941392,14815646,3310381,4808797
People & Blogs,3210,4917191726,186615999,10187901,24778032
Pets & Animals,920,764651989,19370702,527379,2660705
Science & Technology,2401,3487756816,82532638,4548402,11989926
Shows,57,51501058,1082639,24508,95117
Sports,2174,4404456673,98621211,5133551,11192155
Travel & Events,402,343557084,4836246,340427,911511