In [1]:
import pandas as pd 
import psycopg2
from getpass import getpass
from sqlalchemy import create_engine

In [2]:
file = "../Data/us_videos_cleaned_2.csv"
df = pd.read_csv(file)
df

,video_id,publish_time,trending_date,publish_to_trend,days_trending,title,channel_title,category_id,category_name,tags,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,video_error_or_removed,tags_count
0,2kyS6SvSYSE,2017-11-13 17:13:01,2017-11-14,0,7,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,People & Blogs,SHANtell martin,748374,57527,2966,15954,False,False,False,1
1,1ZAPwfrtAFY,2017-11-13 07:30:00,2017-11-14,0,7,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,Entertainment,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,False,False,False,4
2,5qpjK5DgCt4,2017-11-12 19:05:24,2017-11-14,1,7,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,Comedy,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,False,False,False,23
3,puqaWrEC7tY,2017-11-13 11:00:04,2017-11-14,0,7,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,Entertainment,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,False,False,False,27
4,d380meD0W0M,2017-11-12 18:01:41,2017-11-14,1,6,I Dare You: GOING BALD!?,nigahiga,24,Entertainment,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,False,False,False,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6346,dS5Thrl-4Kc,2018-06-12 18:55:26,2018-06-14,1,1,CRAYOLA MAKEUP | HIT OR MISS?,Laura Lee,26,Howto & Style,"Laura88Lee|""crayola""|""crayon makeup""|""crayola ...",607422,26166,895,3517,False,False,False,21
6347,JGm9Y_hFqNk,2018-06-13 15:06:08,2018-06-14,0,1,First Take reacts: Kyrie Irving says contract ...,ESPN,17,Sports,"espn|""espn live""|""boston celtics""|""kyrie irvin...",812832,7701,320,2505,False,False,False,31
6348,6h8QgZF5Qu4,2018-06-13 05:27:27,2018-06-14,0,1,Drop the Mic w/ Ashton Kutcher & Sean Diddy Combs,The Late Late Show with James Corden,24,Entertainment,"The Late Late Show|""Late Late Show""|""James Cor...",864189,18811,399,1074,False,False,False,28
6349,mpnshdmtE2Y,2018-06-12 16:03:58,2018-06-14,1,1,Carla Makes BA Smashburgers | From the Test Ki...,Bon App√©tit,26,Howto & Style,"bon appetit|""burgers""|""cheeseburgers""|""how to ...",540149,14206,693,1211,False,False,False,26
6350,yz7Xq3T0YPs,2018-06-13 09:00:06,2018-06-14,0,1,"Katherine Langford on 13 Reasons Why, Australi...",Jimmy Kimmel Live,24,Entertainment,"jimmy|""kimmel""|""live""|""late""|""night""|""talk""|""s...",296295,8157,294,764,False,False,False,25

# Table for video_id, title and channel_title

In [3]:
title_df = df[['video_id', 'category_id', 'title', 'channel_title']]
title_df

,video_id,category_id,title,channel_title
0,2kyS6SvSYSE,22,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat
1,1ZAPwfrtAFY,24,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight
2,5qpjK5DgCt4,23,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso
3,puqaWrEC7tY,24,Nickelback Lyrics: Real or Fake?,Good Mythical Morning
4,d380meD0W0M,24,I Dare You: GOING BALD!?,nigahiga
...,...,...,...,...
6346,dS5Thrl-4Kc,26,CRAYOLA MAKEUP | HIT OR MISS?,Laura Lee
6347,JGm9Y_hFqNk,17,First Take reacts: Kyrie Irving says contract ...,ESPN
6348,6h8QgZF5Qu4,24,Drop the Mic w/ Ashton Kutcher & Sean Diddy Combs,The Late Late Show with James Corden
6349,mpnshdmtE2Y,26,Carla Makes BA Smashburgers | From the Test Ki...,Bon App√©tit
6350,yz7Xq3T0YPs,24,"Katherine Langford on 13 Reasons Why, Australi...",Jimmy Kimmel Live

# Table for dates info

In [4]:
dates_df = df[['video_id', 'publish_time', 'trending_date', 'publish_to_trend', 'days_trending']]
dates_df.head(20)

,video_id,publish_time,trending_date,publish_to_trend,days_trending
0,2kyS6SvSYSE,2017-11-13 17:13:01,2017-11-14,0,7
1,1ZAPwfrtAFY,2017-11-13 07:30:00,2017-11-14,0,7
2,5qpjK5DgCt4,2017-11-12 19:05:24,2017-11-14,1,7
3,puqaWrEC7tY,2017-11-13 11:00:04,2017-11-14,0,7
4,d380meD0W0M,2017-11-12 18:01:41,2017-11-14,1,6
5,gHZ1Qz0KiKM,2017-11-13 19:07:23,2017-11-14,0,7
6,39idVpFF7NQ,2017-11-12 05:37:17,2017-11-14,1,5
7,nc99ccSXST0,2017-11-12 21:50:37,2017-11-14,1,6
8,jr9QtXwC9vc,2017-11-13 14:00:23,2017-11-14,0,2
9,TUmyygCMMGA,2017-11-13 13:45:16,2017-11-14,0,2
10,9wRQljFNDW8,2017-11-13 02:05:26,2017-11-14,0,1
11,VifQlJit6A0,2017-11-13 03:00:00,2017-11-14,0,6
12,5E4ZBSInqUU,2017-11-13 17:00:00,2017-11-14,0,7
13,GgVmn66oK_A,2017-11-12 14:00:00,2017-11-14,1,5
14,TaTleo4cOs8,2017-11-12 18:30:01,2017-11-14,1,5
15,kgaO45SyaO4,2017-11-13 20:09:58,2017-11-14,0,3
16,ZAQs-ctOqXQ,2017-11-12 17:00:05,2017-11-14,1,5
17,YVfyYrEmzgM,2017-11-13 16:00:07,2017-11-14,0,6
18,eNSN6qet1kE,2017-11-13 15:30:17,2017-11-14,0,6
19,B5HORANmzHw,2017-11-12 22:00:01,2017-11-14,1,2

# Table for category

In [5]:
cat_file = "../Data/category_id.csv"
cat_df = pd.read_csv(cat_file)
cat_df

    category_id          category_name
0             1       Film & Animation
1             2       Autos & Vehicles
2            10                  Music
3            15         Pets & Animals
4            17                 Sports
5            18           Short Movies
6            19        Travel & Events
7            20                 Gaming
8            21          Videoblogging
9            22         People & Blogs
10           23                 Comedy
11           24          Entertainment
12           25        News & Politics
13           26          Howto & Style
14           27              Education
15           28   Science & Technology
16           29  Nonprofits & Activism
17           30                 Movies
18           31        Anime/Animation
19           32       Action/Adventure
20           33               Classics
21           34                 Comedy
22           35            Documentary
23           36                  Drama
24           37                 Family
25           38                Foreign
26           39                 Horror
27           40         Sci-Fi/Fantasy
28           41               Thriller
29           42                 Shorts
30           43                  Shows
31           44               Trailers

# Table for views

In [6]:
views_df = df[['video_id', 'views']]
views_df

         video_id    views
0     2kyS6SvSYSE   748374
1     1ZAPwfrtAFY  2418783
2     5qpjK5DgCt4  3191434
3     puqaWrEC7tY   343168
4     d380meD0W0M  2095731
...           ...      ...
6346  dS5Thrl-4Kc   607422
6347  JGm9Y_hFqNk   812832
6348  6h8QgZF5Qu4   864189
6349  mpnshdmtE2Y   540149
6350  yz7Xq3T0YPs   296295

[6351 rows x 2 columns]

# Table for likes/dislikes

In [7]:
likes_dislikes_df = df[['video_id', 'likes', 'dislikes']]
likes_dislikes_df

         video_id   likes  dislikes
0     2kyS6SvSYSE   57527      2966
1     1ZAPwfrtAFY   97185      6146
2     5qpjK5DgCt4  146033      5339
3     puqaWrEC7tY   10172       666
4     d380meD0W0M  132235      1989
...           ...     ...       ...
6346  dS5Thrl-4Kc   26166       895
6347  JGm9Y_hFqNk    7701       320
6348  6h8QgZF5Qu4   18811       399
6349  mpnshdmtE2Y   14206       693
6350  yz7Xq3T0YPs    8157       294

[6351 rows x 3 columns]

# Table for comment counts

In [8]:
comment_counts = df[['video_id', 'comment_count']]
comment_counts

         video_id  comment_count
0     2kyS6SvSYSE          15954
1     1ZAPwfrtAFY          12703
2     5qpjK5DgCt4           8181
3     puqaWrEC7tY           2146
4     d380meD0W0M          17518
...           ...            ...
6346  dS5Thrl-4Kc           3517
6347  JGm9Y_hFqNk           2505
6348  6h8QgZF5Qu4           1074
6349  mpnshdmtE2Y           1211
6350  yz7Xq3T0YPs            764

[6351 rows x 2 columns]

# Table for interactive features

In [9]:
interactive_features_df = df[['video_id', 'comments_disabled', 'ratings_disabled', 'video_error_or_removed']]
interactive_features_df

         video_id  comments_disabled  ratings_disabled  video_error_or_removed
0     2kyS6SvSYSE              False             False                   False
1     1ZAPwfrtAFY              False             False                   False
2     5qpjK5DgCt4              False             False                   False
3     puqaWrEC7tY              False             False                   False
4     d380meD0W0M              False             False                   False
...           ...                ...               ...                     ...
6346  dS5Thrl-4Kc              False             False                   False
6347  JGm9Y_hFqNk              False             False                   False
6348  6h8QgZF5Qu4              False             False                   False
6349  mpnshdmtE2Y              False             False                   False
6350  yz7Xq3T0YPs              False             False                   False

[6351 rows x 4 columns]

# Table for numeric value features

In [10]:
numeric_features_df = df[['video_id', 'views', 'likes', 'dislikes', 'comment_count', 'publish_to_trend', 'days_trending', 'tags_count']]
numeric_features_df

,video_id,views,likes,dislikes,comment_count,publish_to_trend,days_trending,tags_count
0,2kyS6SvSYSE,748374,57527,2966,15954,0,7,1
1,1ZAPwfrtAFY,2418783,97185,6146,12703,0,7,4
2,5qpjK5DgCt4,3191434,146033,5339,8181,1,7,23
3,puqaWrEC7tY,343168,10172,666,2146,0,7,27
4,d380meD0W0M,2095731,132235,1989,17518,1,6,14
...,...,...,...,...,...,...,...,...
6346,dS5Thrl-4Kc,607422,26166,895,3517,1,1,21
6347,JGm9Y_hFqNk,812832,7701,320,2505,0,1,31
6348,6h8QgZF5Qu4,864189,18811,399,1074,0,1,28
6349,mpnshdmtE2Y,540149,14206,693,1211,1,1,26
6350,yz7Xq3T0YPs,296295,8157,294,764,0,1,25

In [11]:
# Use getpass enter passwords
password = getpass('Enter database password')

# Create connection to postgres 
conn_string = 'postgresql://postgres:'+password+'@localhost:5432/youtube_trending'

db = create_engine(conn_string)
conn = db.connect()

Enter database password ¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑

In [ ]:
# Write category_id into database
cat_df.to_sql("categories", con=conn, if_exists='append', index=False)

In [ ]:
# Write title_df into database
title_df.to_sql("titles", con=conn, if_exists='append', index=False)

In [ ]:
# Write dates_df into database
dates_df.to_sql("dates", con=conn, if_exists='append', index=False)

In [ ]:
# Write views_df into database
views_df.to_sql("views", con=conn, if_exists='append', index=False)

In [ ]:
# Write likes_dislikes_df into database
likes_dislikes_df.to_sql("likes_dislikes", con=conn, if_exists='append', index=False)

In [ ]:
# Write comment_counts_df into database
comment_counts.to_sql("comment_counts", con=conn, if_exists='append', index=False)

In [ ]:
# Write interactive_features_df into database
interactive_features_df.to_sql("interactive_features", con=conn, if_exists='append', index=False)

In [ ]:
# Write numeric_features_df into database
numeric_features_df.to_sql("numeric_features", con=conn, if_exists='append', index=False)