In [4]:
# Initial imports
import pandas as pd

from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
youtube_df = pd.read_csv('./Data/USvideos_c1.csv')

In [18]:
youtube_df['trending_date']= youtube_df['trending_date'].values.astype('datetime64[s]')
youtube_df['publish_time']= youtube_df['publish_time'].values.astype('datetime64[s]')
youtube_df['diff_days'] = (youtube_df['trending_date'] - youtube_df['publish_time']).dt.days

In [49]:
youtube_df.dtypes
import re

In [20]:
youtube_df.dtypes

Unnamed: 0                         int64
trending_date             datetime64[ns]
title                             object
channel_title                     object
publish_time              datetime64[ns]
tags                              object
views                              int64
likes                              int64
dislikes                           int64
comment_count                      int64
comments_disabled                   bool
ratings_disabled                    bool
video_error_or_removed              bool
description                       object
tags_count                         int64
category_type                     object
diff_days                          int64
dtype: object

In [40]:
youtube_cl = youtube_df[['diff_days', 'views', 'likes', 'dislikes', 'tags_count',  'category_type']]

In [44]:
youtube_cl.head()

   diff_days    views   likes  dislikes  tags_count   category_type
0          0   748374   57527      2966           1  People & Blogs
1          0  2418783   97185      6146           4   Entertainment
2          1  3191434  146033      5339          23          Comedy
3          0   343168   10172       666          27   Entertainment
4          1  2095731  132235      1989          14   Entertainment

In [45]:
cat_num = {
   'Film & Animation': 1,
   'Autos & Vehicles': 2,
   'Music': 3,
   'Pets & Animals': 4,
   'Sports': 5,
   'Travel & Events': 6,
   'Gaming': 7,
   'People & Blogs': 8,
   'Comedy': 9,
   'Entertainment': 10,
   'News & Politics': 11,
   'Howto & Style': 12,
   'Education': 13,
   'Science & Technology': 14,
   'Nonprofits & Activism': 15,
   'Shows': 16
}

In [53]:
youtube_cl['cat_num'] = youtube_cl['category_type'].apply(lambda x: cat_num[x])
youtube_cl = youtube_cl.drop(['category_type'], axis=1)

C:\Users\amlab\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [54]:
youtube_cl

       diff_days     views   likes  dislikes  tags_count  cat_num
0              0    748374   57527      2966           1        8
1              0   2418783   97185      6146           4       10
2              1   3191434  146033      5339          23        9
3              0    343168   10172       666          27       10
4              1   2095731  132235      1989          14       10
...          ...       ...     ...       ...         ...      ...
40944         26   1685609   38160      1385          14        4
40945         26   1064798   60008       382           1        8
40946         26   1066451   48068      1032          24       10
40947         27   5660813  192957      2846          22        1
40948         27  10306119  357079    212976           4        7

[40949 rows x 6 columns]

In [43]:
# Define the features set.
X = youtube_cl.copy()
X = X.drop('category_type', axis=1)
X.head()

   diff_days    views   likes  dislikes  tags_count
0          0   748374   57527      2966           1
1          0  2418783   97185      6146           4
2          1  3191434  146033      5339          23
3          0   343168   10172       666          27
4          1  2095731  132235      1989          14

In [27]:
# Define the target set.
y = youtube_binary_encoded['diff_days'].values

array([   0,    0,    1,    0,    1,    0,    1,    1,    0,    0,    0,
          0,    0,    1,    1,    0,    1,    0,    0,    1,    0,    1,
          0,    1,    0,    1,    0,    0,    0, 2360,    0,    7,    3,
          1,    1,  206,    1,    0,    1,    0,    0,    1,    0,    2,
          2,    1,    0,    3,    0,    3,    2,    1,    2,    3,    2,
          3,    2,    1,    0,    2,    2,    0,    3,    3,    1,    3,
          2,    3,    0,    3,    4,    2,    3,    2,    3,    3,    3,
          3,    3,   27,    2,    3,    3,    1,    2,    2,    4,    4,
          2,    3,    1,    3,    1,    4,    4,    3,    3,    3,    4,
          3,    4,    4,    3,    4,    3,    3,    3,    3,    4,    3,
          3,    3,    4,    4,    4,    3,    4,    4,    4,    4,    3,
          4,    4,    4,    4,    3,    3,    3,    4,    4,    5,    4,
          3,    4,    3,  907,    4,    3,    4, 2423,    4,    4,    3,
          4,    4,    4,    4,    3,    5,    5,    5,    5,    4,    4,
          4, 1982,    4,    4,    5,    4,  227,    5,    4,    4,    4,
          5,    5,    4,    3,   31,    4,    4,    5,    3,    5,    9,
          6,    4,    4,    4,    6,    4,    4,    5,    6,    5,    4,
          5,    4,    5,    5,    5,    4,    5,    4,    5,    5,    5,
          5,    5,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          1,    0,    0,    0,    0,    0,   -1,   -1,    1,    1,    1,
          0,    1,    0,    1,    0,    1,    0,    0,    0,    1,    0,
          1,    1,    0,    1,    1,    0,    1,    2,    0,    0,   -1,
          1,    1,    0,    1,    1,    2,    0,    1, 2861,    1,    1,
          0,    0,    2,    0,    1,    1,    1,    0,    0,    1,    1,
          2,    1,    0,    1,    1,    1,    2,    2,    1,    1,    1,
          1,    2,    1,    0,    2,    2,    2,    2,    1,    0,    0,
          2,    2,    2,    2,    8,    1,    2,    1,    1,    1,    2,
          0,    4,    2,    1,    2,    1,  207, 2361,    3,    2,    1,
          3,    3,    4,    3,    4,    1,    4,    3,    2,    2,    3,
          3,    3,    3,    4,    4,    3,    3,    4,    4,    2,    4,
          5,    4,    4,   28,    4,    3,    5,    4,    3,    4,    4,
          3,    4,    1,    4,    3,    2,    4,    4,    4,    4,    4,
          2,    4,    5,    3,    3,    5,    5,    4,    5,    5,    4,
          4,    4,    4,    5,    4,    5,    5,    5,    5,    5,    6,
          5,    5,    5,    4,    4,    4,    5,    4,    4,  908,    5,
          5,    5,    4,    4,    6,    6,    5,    5,    5,    4,    4,
          5,    5,    5,    5,    0,    0,    1,    0,    1,    0,    1,
          1,    0,    1,    0,    0,    1,    0,    1,    0,    0,    0,
          0,    0,    1,    0,    1,    2,    0,    1,    0,    0,    0,
          0,    1,    0,    0,    0,    1,    1,    0,    1,    1,    1,
          0,    1,    0,    1,    0,    2,    0,    1,    2,    1,    2,
          0,    1,    0,    2,    2,    6,    1,    2,    0,    1,    0,
          1,    1,    0,    0,    2,    2,    1,    2,    2,    2,    2,
          2,    1,    3,    2,    1,    2,    1,    1,    0,    2,    1,
          3,    1,    2,    2,    2,    2,    2,    1,    1,    1,    3,
          2,    2,    1,    2,    2,    1,    2,    3,    2,    3,    1,
          2,    3, 2862,    2,    2,    3,    2,    3,    3,    2,    1,
          2,    3,    2,    3,    3,    3,    2,    3,    3,    1,    2,
          2,    9,    3,    2,    2,    3,    5,    2,    7, 2362,  208,
          4,    3,   25,    3,    3,    4,    2,    2,    4,    4,    4,
          2,    2,    5,    3,    5,    4,    2,    4,   21,    5,    5,
          4,    5,    4,    3,    5,    5,    5,    5,    5,    5,    2,
          5,    6,    6,    4,    5,    4,    3,    4,    6,    4,    5,
          5,    3,    5,    5,    5,    5,    5,    5,    4,   29,    6,
          6,    4,    6,    5,    5,    6,    0,    0,    0,    1,    0,
          0,    0,    0,   -1,    0,    0,    0,    0,    0,    0,    0,
          0,    1,    1,    1,    1,    1,    0,    0,    0,    0,    0,
          1,    2,    1,    1,    2,   -1,    1,    0,    1,    2,    1,
          1,    2,    0,    0,    0,    1,    1,    0,    1,    2,    1,
          0,    2,    2,    1,    2,    1,    1,    1,    1,    1,    0,
          0,    2,    1,    1,    1,    1,    1,    0,    1,    1,    2,
          2,    0,    0,    2,    2,    0,    1,    1,    2,    2,    1,
          2,    1,    3,    1,    2,    2,    1,    3,    3,    1,    3,
          3,    1,    2,    3,    2,    2,    2,    1,    2,    3,    3,
          2,    3,    2,    3,    2,    3,    3,    3,    2,    4,    2,
          3,    2,    3,    2,    3,    2,    3,    4,    1,    3,    4,
          3,    3,    3,    3,    3,    3,    3,    4,    4,    2,    4,
          2,    4,    2,    2,    3,    3,    3,    3,    8,    3,    4,
          4,    4,    3,    4,    3,    4,    3,    3,    4,    4,    2,
          3,    3,   10,    4,    3,    4,    3,    6,    8,    4, 2363,
        209,    4,    3,    3,   26,    5,    4,    3,    5,    5,    3,
          3,    4,    6,    6,    6,    5,   22,    5,    6,    6,    6,
          6,    4,    5,    6,    6,    6,    6,    3,    1,    0,    1,
          0,    0,    1,    0,    0,    1,    1,    0,    0,    0,    0,
          2,    0,    1,    1,    1,    0,    1,    1,  515,    1,    1,
          0,    0,    0,    1,    1,    0,    1,    1,    0,    0,    1,
          0,    2,    2,    1,    0,    2,    2,    0,    0,    0,    0,
          1,    0,    1,    1,    1,    1,    0,    1,    0,    0,    1,
          1,    2,    1,    1,    2,    2,    2,    2,    3,    1,    2,
          1,    1,    2,    2,    3,    0,    2,    3,    2,    3,    2,
          2,    3,    1,    2,    1,    0,    3,    3,    2,    2,    3,
          2,    3,    2,    1,    2,    3,    2,    2,    3,    2,    3,
          1,    3,    2,    2,    3,    1,    2,    2,    2,    3,    3,
          2,    3,    2,    2,    4,    0,    3,    4,    2,    2,    3,
          4,    3,    3,    4,    2,    3,    4,    3,    4,    2,    3,
          2,    4,    4,    2,    3,   21,    4,    4,    4,    4,    4,
          4,    2,    3,    3,    3,    4,    3,    4,    5,    3,    4,
          8,    4,    3,    5,    2,    5,    4,    4,    4,    4,    3,
          4,    4,    4,    9,    3,    4,    5,    3,    3,    3,    5,
          4,    5,    4,    4,    5,    5,    4,    5,    4,    4,    4,
          5,    5,    5,    5,    5,    7,    4,    4,    4,   11],
      dtype=int64)

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [29]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(30711, 19)
(10238, 19)
(30711,)
(10238,)

In [30]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [31]:
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [32]:
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)

In [35]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(cm)

cm_df

,0,1,2,3,4,5,6,7,8,9,...,195,196,197,198,199,200,201,202,203,204
0,2,7,4,3,1,5,3,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,7,116,125,99,89,76,76,55,20,20,...,0,0,0,0,0,0,0,0,0,0
2,9,139,172,200,138,107,95,62,32,24,...,0,0,0,0,0,0,0,0,0,0
3,5,112,169,132,244,117,100,69,58,32,...,0,0,0,0,0,0,0,0,0,0
4,1,77,130,213,136,263,104,55,49,26,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
202,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
203,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
204,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [36]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [38]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

,0,1,2,3,4,5,6,7,8,9,...,195,196,197,198,199,200,201,202,203,204
0,2,7,4,3,1,5,3,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,7,116,125,99,89,76,76,55,20,20,...,0,0,0,0,0,0,0,0,0,0
2,9,139,172,200,138,107,95,62,32,24,...,0,0,0,0,0,0,0,0,0,0
3,5,112,169,132,244,117,100,69,58,32,...,0,0,0,0,0,0,0,0,0,0
4,1,77,130,213,136,263,104,55,49,26,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
202,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
203,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
204,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

Accuracy Score : 0.08409845672983005
Classification Report
              precision    recall  f1-score   support

          -1       0.06      0.07      0.07        27
           0       0.18      0.16      0.17       735
           1       0.17      0.16      0.17      1080
           2       0.12      0.12      0.12      1136
           3       0.12      0.12      0.12      1179
           4       0.10      0.09      0.10      1163
           5       0.07      0.07      0.07      1008
           6       0.05      0.05      0.05       784
           7       0.04      0.04      0.04       516
           8       0.03      0.03      0.03       403
           9       0.03      0.03      0.03       339
          10       0.04      0.04      0.04       297
          11       0.03      0.03      0.03       276
          12       0.01      0.01      0.01       235
          13       0.02      0.02      0.02       178
          14       0.01      0.01      0.01       165
          15       0.02      0.02      0.02       125
          16       0.01      0.01      0.01       106
          17       0.02      0.02      0.02        85
          18       0.00      0.00      0.00        53
          19       0.00      0.00      0.00        48
          20       0.00      0.00      0.00        40
          21       0.00      0.00      0.00        34
          22       0.00      0.00      0.00        30
          23       0.00      0.00      0.00        23
          24       0.06      0.05      0.06        19
          25       0.00      0.00      0.00        16
          26       0.00      0.00      0.00        16
          27       0.00      0.00      0.00        11
          28       0.00      0.00      0.00         7
          29       0.00      0.00      0.00         1
          30       0.00      0.00      0.00         1
          31       0.00      0.00      0.00         1
          32       0.00      0.00      0.00         1
          33       0.00      0.00      0.00         2
          35       0.00      0.00      0.00         1
          37       0.00      0.00      0.00         1
          38       0.00      0.00      0.00         1
          39       0.00      0.00      0.00         1
          40       0.00      0.00      0.00         0
          41       0.00      0.00      0.00         1
          42       0.00      0.00      0.00         1
          43       0.00      0.00      0.00         1
          44       0.00      0.00      0.00         0
          47       0.50      1.00      0.67         1
          48       0.00      0.00      0.00         1
          49       0.00      0.00      0.00         0
          50       0.00      0.00      0.00         0
          58       0.00      0.00      0.00         1
          59       0.00      0.00      0.00         0
          63       0.00      0.00      0.00         1
          64       0.00      0.00      0.00         0
          76       0.00      0.00      0.00         1
          77       0.00      0.00      0.00         0
          78       0.00      0.00      0.00         0
          98       0.00      0.00      0.00         0
          99       0.00      0.00      0.00         1
         104       0.00      0.00      0.00         0
         105       0.00      0.00      0.00         1
         106       0.00      0.00      0.00         1
         107       0.00      0.00      0.00         1
         108       0.00      0.00      0.00         0
         134       0.00      0.00      0.00         0
         136       0.00      0.00      0.00         1
         137       0.00      0.00      0.00         1
         138       0.00      0.00      0.00         0
         139       0.00      0.00      0.00         1
         140       0.00      0.00      0.00         1
         141       0.00      0.00      0.00         0
         203       0.00      0.00      0.00         1
         205       0.00      0.00      0.00         0
         206       0.00      0.00      0.00         0
         207       0.00      0.00      0.00         1
         208       0.00      0.00      0.00         0
         209       0.00      0.00      0.00         0
         249       0.00      0.00      0.00         1
         250       0.00      0.00      0.00         1
         255       0.00      0.00      0.00         1
         286       0.00      0.00      0.00         0
         329       0.00      0.00      0.00         1
         332       0.00      0.00      0.00         1
         333       0.00      0.00      0.00         1
         334       0.00      0.00      0.00         1
         335       0.00      0.00      0.00         1
         336       0.00      0.00      0.00         0
         337       0.00      0.00      0.00         1
         381       0.00      0.00      0.00         0
         382       0.00      0.00      0.00         1
         384       0.00      0.00      0.00         1
         385       0.00      0.00      0.00         0
         407       0.00      0.00      0.00         0
         408       0.00      0.00      0.00         1
         479       0.00      0.00      0.00         1
         515       0.00      0.00      0.00         1
         537       0.00      0.00      0.00         0
         538       0.00      0.00      0.00         1
         542       0.00      0.00      0.00         0
         583       0.00      0.00      0.00         1
         619       0.00      0.00      0.00         1
         620       0.00      0.00      0.00         0
         621       0.00      0.00      0.00         1
         772       0.00      0.00      0.00         1
         777       0.00      0.00      0.00         1
         778       0.00      0.00      0.00         1
         794       0.00      0.00      0.00         1
         795       0.00      0.00      0.00         1
         796       0.00      0.00      0.00         0
         823       0.00      0.00      0.00         0
         824       0.00      0.00      0.00         1
         825       0.00      0.00      0.00         1
         826       0.00      0.00      0.00         0
         862       0.00      0.00      0.00         0
         863       0.00      0.00      0.00         1
         907       0.00      0.00      0.00         0
         942       0.00      0.00      0.00         1
         943       0.00      0.00      0.00         0
         944       0.00      0.00      0.00         1
        1034       0.00      0.00      0.00         1
        1035       0.00      0.00      0.00         0
        1094       0.00      0.00      0.00         1
        1095       0.00      0.00      0.00         0
        1115       0.00      0.00      0.00         1
        1116       0.00      0.00      0.00         0
        1119       0.00      0.00      0.00         0
        1270       0.00      0.00      0.00         1
        1271       0.00      0.00      0.00         0
        1285       0.00      0.00      0.00         1
        1286       0.00      0.00      0.00         1
        1287       0.00      0.00      0.00         0
        1288       0.00      0.00      0.00         0
        1289       0.00      0.00      0.00         1
        1290       0.00      0.00      0.00         0
        1291       0.00      0.00      0.00         1
        1376       0.00      0.00      0.00         1
        1379       0.00      0.00      0.00         0
        1419       0.00      0.00      0.00         0
        1420       0.00      0.00      0.00         1
        1519       0.00      0.00      0.00         1
        1549       0.00      0.00      0.00         1
        1550       0.00      0.00      0.00         1
        1551       0.00      0.00      0.00         0
        1561       0.00      0.00      0.00         1
        1562       0.00      0.00      0.00         0
        1567       0.00      0.00      0.00         0
        1660       0.00      0.00      0.00         0
        1663       0.00      0.00      0.00         1
        1677       0.00      0.00      0.00         0
        1679       0.00      0.00      0.00         1
        1680       0.00      0.00      0.00         0
        1698       0.00      0.00      0.00         1
        1703       0.00      0.00      0.00         0
        1704       0.00      0.00      0.00         1
        1705       0.00      0.00      0.00         0
        1708       0.00      0.00      0.00         0
        1709       0.00      0.00      0.00         1
        1710       0.00      0.00      0.00         1
        1711       0.00      0.00      0.00         1
        1718       0.00      0.00      0.00         1
        1719       0.00      0.00      0.00         0
        1819       0.00      0.00      0.00         0
        1820       0.00      0.00      0.00         1
        1821       0.00      0.00      0.00         1
        1822       0.00      0.00      0.00         0
        1877       0.00      0.00      0.00         0
        1879       0.00      0.00      0.00         1
        1880       0.00      0.00      0.00         0
        1949       0.00      0.00      0.00         1
        1950       0.00      0.00      0.00         0
        2113       0.00      0.00      0.00         1
        2114       0.00      0.00      0.00         0
        2162       0.00      0.00      0.00         1
        2163       0.00      0.00      0.00         0
        2250       0.00      0.00      0.00         1
        2251       0.00      0.00      0.00         0
        2333       0.00      0.00      0.00         1
        2334       0.00      0.00      0.00         0
        2361       0.00      0.00      0.00         1
        2362       0.00      0.00      0.00         1
        2363       0.00      0.00      0.00         0
        2411       0.00      0.00      0.00         1
        2412       0.00      0.00      0.00         1
        2413       0.00      0.00      0.00         0
        2416       0.00      0.00      0.00         0
        2417       0.00      0.00      0.00         1
        2462       0.00      0.00      0.00         1
        2464       0.00      0.00      0.00         1
        2465       0.00      0.00      0.00         0
        2652       0.00      0.00      0.00         1
        2653       0.00      0.00      0.00         1
        2654       0.00      0.00      0.00         0
        2656       0.00      0.00      0.00         0
        2816       0.00      0.00      0.00         1
        2817       0.00      0.00      0.00         0
        2821       0.00      0.00      0.00         0
        2822       0.00      0.00      0.00         1
        2823       0.00      0.00      0.00         1
        2824       0.00      0.00      0.00         1
        2861       0.00      0.00      0.00         1
        2935       0.00      0.00      0.00         1
        2936       0.00      0.00      0.00         0
        3043       0.00      0.00      0.00         1
        3044       0.00      0.00      0.00         1
        3175       0.00      0.00      0.00         0
        3449       0.00      0.00      0.00         0
        3450       0.00      0.00      0.00         1

    accuracy                           0.08     10238
   macro avg       0.01      0.01      0.01     10238
weighted avg       0.09      0.08      0.09     10238

C:\Users\amlab\anaconda3\envs\mlenv\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\amlab\anaconda3\envs\mlenv\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\amlab\anaconda3\envs\mlenv\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\amlab\anaconda3\envs\mlenv\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\amlab\anaconda3\envs\mlenv\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\amlab\anaconda3\envs\mlenv\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [23]:
# youtube_binary_encoded = pd.get_dummies(youtube_cl, columns=['category_type'])
# youtube_binary_encoded.head()

,diff_days,views,likes,dislikes,category_type_Autos & Vehicles,category_type_Comedy,category_type_Education,category_type_Entertainment,category_type_Film & Animation,category_type_Gaming,category_type_Howto & Style,category_type_Music,category_type_News & Politics,category_type_Nonprofits & Activism,category_type_People & Blogs,category_type_Pets & Animals,category_type_Science & Technology,category_type_Shows,category_type_Sports,category_type_Travel & Events
0,0,748374,57527,2966,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,0,2418783,97185,6146,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,1,3191434,146033,5339,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,343168,10172,666,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,1,2095731,132235,1989,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [24]:
# from sklearn.preprocessing import LabelEncoder

# le = LabelEncoder()
# df2 = youtube_df2.copy()
# df2['category_type'] = le.fit_transform(df2['category_type'])

In [25]:
df2

          views   likes  dislikes  category_type
0        748374   57527      2966             10
1       2418783   97185      6146              3
2       3191434  146033      5339              1
3        343168   10172       666              3
4       2095731  132235      1989              3
...         ...     ...       ...            ...
40944   1685609   38160      1385             11
40945   1064798   60008       382             10
40946   1066451   48068      1032              3
40947   5660813  192957      2846              4
40948  10306119  357079    212976              5

[40949 rows x 4 columns]

In [12]:
# y = youtube_cl['category_id']
# X = youtube_cl.drop(columns='category_id')

In [13]:
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X,
#    y, random_state=1, stratify=y)

In [16]:
# from sklearn.linear_model import LogisticRegression
# classifier = LogisticRegression(solver='lbfgs',
#    max_iter=4000,
#    random_state=1)

In [17]:
# classifier.fit(X_train, y_train)

C:\Users\amlab\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(max_iter=4000, random_state=1)

In [ ]:
# y_pred = classifier.predict(X_test)