In [1]:
import pandas as pd
import psycopg2 
from getpass import getpass
from sqlalchemy import create_engine

In [2]:
file = "../Data/us_videos_cleaned.csv"
df = pd.read_csv(file)
df

,video_id,publish_date,publish_time,trending_date,diff_days,title,channel_title,category_id,category_type,tags,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,video_error_or_removed
0,9wRQljFNDW8,2017-11-13,02:05:26,2017-11-14,1,Dion Lewis' 103-Yd Kick Return TD vs. Denver! ...,NFL,17,Sports,"NFL|""Football""|""offense""|""defense""|""afc""|""nfc""...",81377,655,25,177,False,False,False
1,Om_zGhJLZ5U,2017-11-12,18:00:03,2017-11-14,2,TL;DW - Every DCEU Movie Before Justice League,Screen Junkies,1,Film & Animation,"screenjunkies|""screen junkies""|""sj news""|""hone...",288922,7515,792,2111,False,False,False
2,goP4Z5wyOlM,2017-11-12,21:16:40,2017-11-14,2,Iraq-Iran earthquake: Deadly tremor hits borde...,BBC News,25,News & Politics,"bbc|""bbc news""|""news""|""iran""|""iran news""|""iraq...",34785,308,26,413,False,False,False
3,8NHA23f7LvU,2017-11-10,19:06:23,2017-11-14,4,Jason Momoa Wows Hugh Grant With Some Dothraki...,The Graham Norton Show,24,Entertainment,"Graham Norton|""Graham Norton Show Official""|""E...",1496225,16116,236,605,False,False,False
4,IE-xepGLVt8,2017-11-10,12:04:17,2017-11-14,4,Mayo Clinic's first face transplant patient me...,Mayo Clinic,28,Science & Technology,"Mayo Clinic|""Health Care (Issue)""|""Healthcare ...",237307,1896,74,260,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6346,BZt0qjTWNhw,2018-05-18,13:00:04,2018-06-14,27,The Cat Who Caught the Laser,AaronsAnimals,15,Pets & Animals,"aarons animals|""aarons""|""animals""|""cat""|""cats""...",1685609,38160,1385,2657,False,False,False
6347,1h7KV2sjUWY,2018-05-18,01:00:06,2018-06-14,27,True Facts : Ant Mutualism,zefrank1,22,People & Blogs,[none],1064798,60008,382,3936,False,False,False
6348,D6Oy4LfoqsU,2018-05-18,17:34:22,2018-06-14,27,I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...,Brad Mondo,24,Entertainment,I gave safiya nygaard a perfect hair makeover ...,1066451,48068,1032,3992,False,False,False
6349,oV0zkMe1K8s,2018-05-17,17:00:04,2018-06-14,28,How Black Panther Should Have Ended,How It Should Have Ended,1,Film & Animation,"Black Panther|""HISHE""|""Marvel""|""Infinity War""|...",5660813,192957,2846,13088,False,False,False
6350,ooyjaVdt-jA,2018-05-17,17:09:38,2018-06-14,28,Official Call of Duty®: Black Ops 4 — Multipla...,Call of Duty,20,Gaming,"call of duty|""cod""|""activision""|""Black Ops 4""",10306119,357079,212976,144795,False,False,False

# Table for video_id, title and channel_title

In [3]:
title_df = df[['video_id', 'category_id', 'title', 'channel_title']]
title_df

,video_id,category_id,title,channel_title
0,9wRQljFNDW8,17,Dion Lewis' 103-Yd Kick Return TD vs. Denver! ...,NFL
1,Om_zGhJLZ5U,1,TL;DW - Every DCEU Movie Before Justice League,Screen Junkies
2,goP4Z5wyOlM,25,Iraq-Iran earthquake: Deadly tremor hits borde...,BBC News
3,8NHA23f7LvU,24,Jason Momoa Wows Hugh Grant With Some Dothraki...,The Graham Norton Show
4,IE-xepGLVt8,28,Mayo Clinic's first face transplant patient me...,Mayo Clinic
...,...,...,...,...
6346,BZt0qjTWNhw,15,The Cat Who Caught the Laser,AaronsAnimals
6347,1h7KV2sjUWY,22,True Facts : Ant Mutualism,zefrank1
6348,D6Oy4LfoqsU,24,I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...,Brad Mondo
6349,oV0zkMe1K8s,1,How Black Panther Should Have Ended,How It Should Have Ended
6350,ooyjaVdt-jA,20,Official Call of Duty®: Black Ops 4 — Multipla...,Call of Duty

# Table for dates info

In [4]:
dates_df = df[['video_id', 'publish_date', 'trending_date', 'diff_days']]
dates_df.head(20)

       video_id publish_date trending_date  diff_days
0   9wRQljFNDW8   2017-11-13    2017-11-14          1
1   Om_zGhJLZ5U   2017-11-12    2017-11-14          2
2   goP4Z5wyOlM   2017-11-12    2017-11-14          2
3   8NHA23f7LvU   2017-11-10    2017-11-14          4
4   IE-xepGLVt8   2017-11-10    2017-11-14          4
5   cOc3tsFWoRs   2017-11-10    2017-11-14          4
6   wnwF1FHybDQ   2017-11-10    2017-11-14          4
7   pz95u3UVpaM   2017-11-10    2017-11-14          4
8   yuBqWcSKrCk   2017-11-10    2017-11-14          4
9   dW4wpGg64pE   2017-11-09    2017-11-14          5
10  k29YnfttqEU   2017-11-09    2017-11-14          5
11  htvR_dBs3eg   2017-11-10    2017-11-14          4
12  5x1FAiIq_pQ   2017-11-09    2017-11-14          5
13  vd4zwINEcLY   2011-03-27    2017-11-14       2424
14  7fm7mll2qvg   2017-11-10    2017-11-14          4
15  q-WipZ9p0wk   2017-11-09    2017-11-14          5
16  zy0b9e40tK8   2017-11-09    2017-11-14          5
17  rL4WkebTT_U   2017-11-09    2017-11-14          5
18  Y6eKxjMA9ek   2017-11-09    2017-11-14          5
19  Q6Usd3_fbq8   2017-11-10    2017-11-14          4

# Table for category

In [5]:
cat_file = "../Data/category_id.csv"
cat_df = pd.read_csv(cat_file)
cat_df

    category_id          category_name
0             1       Film & Animation
1             2       Autos & Vehicles
2            10                  Music
3            15         Pets & Animals
4            17                 Sports
5            18           Short Movies
6            19        Travel & Events
7            20                 Gaming
8            21          Videoblogging
9            22         People & Blogs
10           23                 Comedy
11           24          Entertainment
12           25        News & Politics
13           26          Howto & Style
14           27              Education
15           28   Science & Technology
16           29  Nonprofits & Activism
17           30                 Movies
18           31        Anime/Animation
19           32       Action/Adventure
20           33               Classics
21           34                 Comedy
22           35            Documentary
23           36                  Drama
24           37                 Family
25           38                Foreign
26           39                 Horror
27           40         Sci-Fi/Fantasy
28           41               Thriller
29           42                 Shorts
30           43                  Shows
31           44               Trailers

# Table for views

In [6]:
views_df = df[['video_id', 'views']]
views_df

         video_id     views
0     9wRQljFNDW8     81377
1     Om_zGhJLZ5U    288922
2     goP4Z5wyOlM     34785
3     8NHA23f7LvU   1496225
4     IE-xepGLVt8    237307
...           ...       ...
6346  BZt0qjTWNhw   1685609
6347  1h7KV2sjUWY   1064798
6348  D6Oy4LfoqsU   1066451
6349  oV0zkMe1K8s   5660813
6350  ooyjaVdt-jA  10306119

[6351 rows x 2 columns]

# Table for likes/dislikes

In [7]:
likes_dislikes_df = df[['video_id', 'likes', 'dislikes']]
likes_dislikes_df

         video_id   likes  dislikes
0     9wRQljFNDW8     655        25
1     Om_zGhJLZ5U    7515       792
2     goP4Z5wyOlM     308        26
3     8NHA23f7LvU   16116       236
4     IE-xepGLVt8    1896        74
...           ...     ...       ...
6346  BZt0qjTWNhw   38160      1385
6347  1h7KV2sjUWY   60008       382
6348  D6Oy4LfoqsU   48068      1032
6349  oV0zkMe1K8s  192957      2846
6350  ooyjaVdt-jA  357079    212976

[6351 rows x 3 columns]

# Table for comment counts

In [8]:
comment_counts = df[['video_id', 'comment_count']]
comment_counts

         video_id  comment_count
0     9wRQljFNDW8            177
1     Om_zGhJLZ5U           2111
2     goP4Z5wyOlM            413
3     8NHA23f7LvU            605
4     IE-xepGLVt8            260
...           ...            ...
6346  BZt0qjTWNhw           2657
6347  1h7KV2sjUWY           3936
6348  D6Oy4LfoqsU           3992
6349  oV0zkMe1K8s          13088
6350  ooyjaVdt-jA         144795

[6351 rows x 2 columns]

# Table for interactive features

In [9]:
interactive_features_df = df[['video_id', 'comments_disabled', 'ratings_disabled', 'video_error_or_removed']]
interactive_features_df

         video_id  comments_disabled  ratings_disabled  video_error_or_removed
0     9wRQljFNDW8              False             False                   False
1     Om_zGhJLZ5U              False             False                   False
2     goP4Z5wyOlM              False             False                   False
3     8NHA23f7LvU              False             False                   False
4     IE-xepGLVt8              False             False                   False
...           ...                ...               ...                     ...
6346  BZt0qjTWNhw              False             False                   False
6347  1h7KV2sjUWY              False             False                   False
6348  D6Oy4LfoqsU              False             False                   False
6349  oV0zkMe1K8s              False             False                   False
6350  ooyjaVdt-jA              False             False                   False

[6351 rows x 4 columns]

In [11]:
# Use getpass enter passwords
password = getpass('Enter database password')

# Create connection to postgres 
conn_string = 'postgresql://postgres:'+password+'@localhost:5432/youtube_trending'

db = create_engine(conn_string)
conn = db.connect()

Enter database password ········

In [17]:
# Write category_id into database
cat_df.to_sql("categories", con=conn, if_exists='append', index=False)

32

In [18]:
# Write title_df into database
title_df.to_sql("titles", con=conn, if_exists='append', index=False)

351

In [19]:
# Write dates_df into database
dates_df.to_sql("dates", con=conn, if_exists='append', index=False)

351

In [20]:
# Write views_df into database
views_df.to_sql("views", con=conn, if_exists='append', index=False)

351

In [21]:
# Write likes_dislikes_df into database
likes_dislikes_df.to_sql("likes_dislikes", con=conn, if_exists='append', index=False)

351

In [24]:
# Write comment_counts_df into database
comment_counts.to_sql("comment_counts", con=conn, if_exists='append', index=False)

351

In [23]:
# Write interactive_features_df into database
interactive_features_df.to_sql("interactive_features", con=conn, if_exists='append', index=False)

351